.captcha-buttons-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.captcha-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: white;
    color: black;
    border-radius: 10px;
}